<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <article id="judah_poster">
            <header id="judah_poster__header">
                <!-- Move this element before the title -->
                <p id="judah_poster__mad_max_saga"><span data-title="A ">A Tribe Called</span></p>
                <h1 id="judah_poster__header__title" data-title="JUDAH">JUDAH</h1>
            </header>
            <p id="judah_poster__funke">From mastermind <strong>Funke Akindele</strong></p>
            <p id="judah_poster__akindele">Funke Akindele</p>
            <p id="judah_poster__uzee">Uzee Usman</p>
            <p id="judah_poster__jide">Jide Kene Achufusi</p>
            <p id="judah_poster__tobi">Tobi Makinde</p>
            <p id="judah_poster__timini">Timini Egbuson</p>
            <p id="judah_poster__olumide">Olumide Oworu</p>
            <img id="judah_poster__front_image" src="./static/image/tribe1.png" alt="Furiosa Front image">
        </article>
    </main>
    <nav>
        <a href="https://www.imdb.com/title/tt29769154/" target="_blank">Official page</a>
    </nav>
</body>
</html>
